<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Reem Kalot. Ite uses data from mapbox.com and weather api to show the weather forecast for a given location</p>
    </div>

    {{>footer}}
  </body>
</html>
